// General
@import 'https://fonts.googleapis.com/css?family=Poppins:wght@100&display=swap';

// // Brand Colors
// $foxi: $black-ter;

// Size Map
$size-1: 25px; $size-2: 20px; $size-3: 16px; $size-4: 14px;
$size-5: 12px; $size-6: 10px; $size-7: 8px; $size-8: 5px;

// $column-gap: $size-8;

// Font Styles
$body-size: $size-5;
$family-sans-serif: "Montserrat", sans-serif;

// // Update Bulma's global variables
// $primary: $purple; // $link: $foxi;
$primary: #6C63FF;


$radius: $radius-small;
// $radius-large: $radius-small;
// $box-radius: $radius-small;
// $navbar-dropdown-radius: $radius-small;
