@charset "utf-8";

.navbar {
	border-top: 1px solid $grey-lighter;
	border-bottom: 1px solid $grey-lighter;
	ul li {
		border-right: 1px solid $grey-lighter;
    display: inline-block;
    .menu-item {
    	display: inline-block;
    	padding: 15px 30px;
    }
    .dropdown {
    	margin: 10px 0px;
    }
	}
}

.header a, .navbar a, .footer a {
	color: $dark;
}

.main {
	min-height: calc(100vh - 220px);
}

.footer {
	border-top: 1px solid $grey-lighter;
	ul li {
		// border-right: 1px solid $grey-lighter;
    display: inline-block;
    .menu-item {
    	display: inline-block;
    	padding: 15px 30px;
    }
	}
}