<template>
<footer class="footer container mt-6">
  <ul class="is-flex">
    <li>
      <a class="menu-item" href="#">আমাদের দান করুন</a>
    </li>
    <li>
      <a class="menu-item" href="#">সংবাদ ব্লগ</a>
    </li>
    <li>
      <a class="menu-item" href="#">ফেসবুক</a>
    </li>
    <li>
      <a class="menu-item" href="#">আমি কে</a>
    </li>
  </ul>
</footer>
</template>

<script>
export default {
  name: 'AppFooter'
}
</script>
