<template>
<header class="header container my-2">
  <div class="columns is-vcentered is-gapless">
    <div class="column">
      <router-link :to="{ name: 'PageHome'}" class="is-clearfix">
        <img src="@/assets/logo.svg" class="is-pulled-left mr-3 mt-2" alt="Logo" style="height: 50px;width:50px">
        <span class="is-size-1">বাংলা</span> <br/>
        <span class="is-size-5">Tech টিপস</span>
      </router-link>
    </div>
    <div class="column has-text-right">
      <div class="field" style="min-width: 220px;display: inline-block;">
        <div class="control has-icons-right">
          <input class="input is-medium" type="text" placeholder="আপনার প্রয়োজন অনুসন্ধান করুন">
          <span class="icon is-right">
            <i class="mdi mdi-magnify mdi-18px"></i>
          </span>
        </div>
      </div>
    </div>
  </div>
</header>
</template>

<script>
export default {
  name: 'AppHeader'
}
</script>
