<template>
<nav class="navbar">
  <div class="container">
    <ul class="is-flex">
      <li>
        <div class="dropdown mr-3">
          <div class="dropdown-trigger">
            <a class="button is-medium is-primary">
              <span> &nbsp; ক্যাটাগরি &nbsp; </span>
              <span class="icon is-small">
                <!-- <i class="mdi mdi-chevron-down mdi-18px"></i> -->
                <i class="mdi mdi-close mdi-18px"></i>
              </span>
            </a>
          </div>
          <div class="dropdown-menu">
            <div class="dropdown-content">
              <a href="#" class="dropdown-item">
                Overview
              </a>
              <a href="#" class="dropdown-item">
                Modifiers
              </a>
              <a href="#" class="dropdown-item">
                Grid
              </a>
              <a href="#" class="dropdown-item">
                Form
              </a>
              <a href="#" class="dropdown-item">
                Elements
              </a>
              <a href="#" class="dropdown-item">
                Components
              </a>
              <a href="#" class="dropdown-item">
                Layout
              </a>
              <hr class="dropdown-divider">
              <router-link :to="{ name: 'PageNotFound'}" class="dropdown-item">
                More
              </router-link>
            </div>
          </div>
        </div>

      </li>
      <li>
        <a class="menu-item" href="#">সর্বশেষ জনপ্রিয়</a>
      </li>
      <li>
        <a class="menu-item" href="#">জনপ্রিয় টিপস</a>
      </li>
      <li>
        <a class="menu-item" href="#">সর্বশেষ টিপস</a>
      </li>
      <li>
        <a class="menu-item" href="#">আরো টিপস</a>
      </li>
    </ul>
  </div>
</nav>
</template>

<script>
export default {
  name: 'AppNavbar'
}
</script>
