<template>
<div class="theme-wrapper">
  <app-header></app-header>
  <app-navbar></app-navbar>
  <main class="main">
    <slot></slot>
  </main>
  <app-footer></app-footer>
</div>
</template>

<script>
import AppHeader from '@/parts/AppHeader.vue'
import AppNavbar from '@/parts/AppNavbar.vue'
import AppFooter from '@/parts/AppFooter.vue'

export default {
  name: 'ThemeDefault',
  components: {
    AppHeader, AppNavbar, AppFooter
  }
}
</script>