<template>
<theme-default>
<main class="container">



  <h2 class="title is-3 my-6">
    বর্তমান প্রযুক্তি
    <hr class="mt-3 mb-0" style="max-width: 30px;" />
  </h2>
  
  <div class="columns is-multiline">
    <div class="column is-3">
      <div class="">
        <div class="card">
          <a href="#" class="card-image">
            <figure class="image is-16by9">
              <img src="https://bulma.io/images/placeholders/640x360.png" alt="Placeholder image">
            </figure>
          </a>
          <div class="card-content">
            <h4 class="is-uppercase title is-4">
              <a href="#">রাউটার</a> |
              <a href="#">অনু</a> |
              <a href="#">Asus</a> |
              <a href="#">300M</a> 
              <span class="has-text-primary is-pulled-right is-uppercase has-text-weight-bold"> . . . </span> 
            </h4>
            <h5 class="subtitle is-5">
              <time datetime="2016-1-1">জুলাই ১৪, ২০২১ / জাহিদ হাসান</time>
            </h5>

            <h2 class="title is-2 mt-3">
              <a href="#">
                Xiaomi MI 4C R4CM 300 Mbps 4 অ্যান্টেনা রাউটার (গ্লোবাল সংস্করণ)
              </a>
            </h2>

            <div class="content">
              Xiaomi MI 4c রাউটার ট্রান্সমিশন রেট 300Mbps শক্তিশালী সংকেতের জন্য 4টি উচ্চ লাভ অ্যান্টেনা সহ, 3x3 MIMO প্রযুক্তি সহ একক-ব্যান্ড (2.4GHz) Wi-Fi 802.11 b/g/n এর জন্য সমর্থন।
              <span class="has-text-primary is-pulled-right is-uppercase has-text-weight-bold"> . . . </span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="column is-3">
      <div class="">
        <div class="card">
          <a href="#" class="card-image">
            <figure class="image is-16by9">
              <img src="https://bulma.io/images/placeholders/640x360.png" alt="Placeholder image">
            </figure>
          </a>
          <div class="card-content">
            <h4 class="is-uppercase title is-4">
              <a href="#">রাউটার</a> |
              <a href="#">অনু</a> |
              <a href="#">Asus</a> |
              <a href="#">300M</a> 
              <span class="has-text-primary is-pulled-right is-uppercase has-text-weight-bold"> . . . </span> 
            </h4>
            <h5 class="subtitle is-5">
              <time datetime="2016-1-1">জুলাই ১৪, ২০২১ / জাহিদ হাসান</time>
            </h5>

            <h2 class="title is-2 mt-3">
              <a href="#">
                Xiaomi MI 4C R4CM 300 Mbps 4 অ্যান্টেনা রাউটার (গ্লোবাল সংস্করণ)
              </a>
            </h2>

            <div class="content">
              Xiaomi MI 4c রাউটার ট্রান্সমিশন রেট 300Mbps শক্তিশালী সংকেতের জন্য 4টি উচ্চ লাভ অ্যান্টেনা সহ, 3x3 MIMO প্রযুক্তি সহ একক-ব্যান্ড (2.4GHz) Wi-Fi 802.11 b/g/n এর জন্য সমর্থন।
              <span class="has-text-primary is-pulled-right is-uppercase has-text-weight-bold"> . . . </span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="column is-3">
      <div class="">
        <div class="card">
          <a href="#" class="card-image">
            <figure class="image is-16by9">
              <img src="https://bulma.io/images/placeholders/640x360.png" alt="Placeholder image">
            </figure>
          </a>
          <div class="card-content">
            <h4 class="is-uppercase title is-4">
              <a href="#">রাউটার</a> |
              <a href="#">অনু</a> |
              <a href="#">Asus</a> |
              <a href="#">300M</a> 
              <span class="has-text-primary is-pulled-right is-uppercase has-text-weight-bold"> . . . </span> 
            </h4>
            <h5 class="subtitle is-5">
              <time datetime="2016-1-1">জুলাই ১৪, ২০২১ / জাহিদ হাসান</time>
            </h5>

            <h2 class="title is-2 mt-3">
              <a href="#">
                Xiaomi MI 4C R4CM 300 Mbps 4 অ্যান্টেনা রাউটার (গ্লোবাল সংস্করণ)
              </a>
            </h2>

            <div class="content">
              Xiaomi MI 4c রাউটার ট্রান্সমিশন রেট 300Mbps শক্তিশালী সংকেতের জন্য 4টি উচ্চ লাভ অ্যান্টেনা সহ, 3x3 MIMO প্রযুক্তি সহ একক-ব্যান্ড (2.4GHz) Wi-Fi 802.11 b/g/n এর জন্য সমর্থন।
              <span class="has-text-primary is-pulled-right is-uppercase has-text-weight-bold"> . . . </span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="column is-3">
      <div class="">
        <div class="card">
          <a href="#" class="card-image">
            <figure class="image is-16by9">
              <img src="https://bulma.io/images/placeholders/640x360.png" alt="Placeholder image">
            </figure>
          </a>
          <div class="card-content">
            <h4 class="is-uppercase title is-4">
              <a href="#">রাউটার</a> |
              <a href="#">অনু</a> |
              <a href="#">Asus</a> |
              <a href="#">300M</a> 
              <span class="has-text-primary is-pulled-right is-uppercase has-text-weight-bold"> . . . </span> 
            </h4>
            <h5 class="subtitle is-5">
              <time datetime="2016-1-1">জুলাই ১৪, ২০২১ / জাহিদ হাসান</time>
            </h5>

            <h2 class="title is-2 mt-3">
              <a href="#">
                Xiaomi MI 4C R4CM 300 Mbps 4 অ্যান্টেনা রাউটার (গ্লোবাল সংস্করণ)
              </a>
            </h2>

            <div class="content">
              Xiaomi MI 4c রাউটার ট্রান্সমিশন রেট 300Mbps শক্তিশালী সংকেতের জন্য 4টি উচ্চ লাভ অ্যান্টেনা সহ, 3x3 MIMO প্রযুক্তি সহ একক-ব্যান্ড (2.4GHz) Wi-Fi 802.11 b/g/n এর জন্য সমর্থন।
              <span class="has-text-primary is-pulled-right is-uppercase has-text-weight-bold"> . . . </span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="column is-3">
      <div class="">
        <div class="card">
          <a href="#" class="card-image">
            <figure class="image is-16by9">
              <img src="https://bulma.io/images/placeholders/640x360.png" alt="Placeholder image">
            </figure>
          </a>
          <div class="card-content">
            <h4 class="is-uppercase title is-4">
              <a href="#">রাউটার</a> |
              <a href="#">অনু</a> |
              <a href="#">Asus</a> |
              <a href="#">300M</a> 
              <span class="has-text-primary is-pulled-right is-uppercase has-text-weight-bold"> . . . </span> 
            </h4>
            <h5 class="subtitle is-5">
              <time datetime="2016-1-1">জুলাই ১৪, ২০২১ / জাহিদ হাসান</time>
            </h5>

            <h2 class="title is-2 mt-3">
              <a href="#">
                Xiaomi MI 4C R4CM 300 Mbps 4 অ্যান্টেনা রাউটার (গ্লোবাল সংস্করণ)
              </a>
            </h2>

            <div class="content">
              Xiaomi MI 4c রাউটার ট্রান্সমিশন রেট 300Mbps শক্তিশালী সংকেতের জন্য 4টি উচ্চ লাভ অ্যান্টেনা সহ, 3x3 MIMO প্রযুক্তি সহ একক-ব্যান্ড (2.4GHz) Wi-Fi 802.11 b/g/n এর জন্য সমর্থন।
              <span class="has-text-primary is-pulled-right is-uppercase has-text-weight-bold"> . . . </span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="column is-3">
      <div class="">
        <div class="card">
          <a href="#" class="card-image">
            <figure class="image is-16by9">
              <img src="https://bulma.io/images/placeholders/640x360.png" alt="Placeholder image">
            </figure>
          </a>
          <div class="card-content">
            <h4 class="is-uppercase title is-4">
              <a href="#">রাউটার</a> |
              <a href="#">অনু</a> |
              <a href="#">Asus</a> |
              <a href="#">300M</a> 
              <span class="has-text-primary is-pulled-right is-uppercase has-text-weight-bold"> . . . </span> 
            </h4>
            <h5 class="subtitle is-5">
              <time datetime="2016-1-1">জুলাই ১৪, ২০২১ / জাহিদ হাসান</time>
            </h5>

            <h2 class="title is-2 mt-3">
              <a href="#">
                Xiaomi MI 4C R4CM 300 Mbps 4 অ্যান্টেনা রাউটার (গ্লোবাল সংস্করণ)
              </a>
            </h2>

            <div class="content">
              Xiaomi MI 4c রাউটার ট্রান্সমিশন রেট 300Mbps শক্তিশালী সংকেতের জন্য 4টি উচ্চ লাভ অ্যান্টেনা সহ, 3x3 MIMO প্রযুক্তি সহ একক-ব্যান্ড (2.4GHz) Wi-Fi 802.11 b/g/n এর জন্য সমর্থন।
              <span class="has-text-primary is-pulled-right is-uppercase has-text-weight-bold"> . . . </span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="column is-3">
      <div class="">
        <div class="card">
          <a href="#" class="card-image">
            <figure class="image is-16by9">
              <img src="https://bulma.io/images/placeholders/640x360.png" alt="Placeholder image">
            </figure>
          </a>
          <div class="card-content">
            <h4 class="is-uppercase title is-4">
              <a href="#">রাউটার</a> |
              <a href="#">অনু</a> |
              <a href="#">Asus</a> |
              <a href="#">300M</a> 
              <span class="has-text-primary is-pulled-right is-uppercase has-text-weight-bold"> . . . </span> 
            </h4>
            <h5 class="subtitle is-5">
              <time datetime="2016-1-1">জুলাই ১৪, ২০২১ / জাহিদ হাসান</time>
            </h5>

            <h2 class="title is-2 mt-3">
              <a href="#">
                Xiaomi MI 4C R4CM 300 Mbps 4 অ্যান্টেনা রাউটার (গ্লোবাল সংস্করণ)
              </a>
            </h2>

            <div class="content">
              Xiaomi MI 4c রাউটার ট্রান্সমিশন রেট 300Mbps শক্তিশালী সংকেতের জন্য 4টি উচ্চ লাভ অ্যান্টেনা সহ, 3x3 MIMO প্রযুক্তি সহ একক-ব্যান্ড (2.4GHz) Wi-Fi 802.11 b/g/n এর জন্য সমর্থন।
              <span class="has-text-primary is-pulled-right is-uppercase has-text-weight-bold"> . . . </span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="column is-3">
      <div class="">
        <div class="card">
          <a href="#" class="card-image">
            <figure class="image is-16by9">
              <img src="https://bulma.io/images/placeholders/640x360.png" alt="Placeholder image">
            </figure>
          </a>
          <div class="card-content">
            <h4 class="is-uppercase title is-4">
              <a href="#">রাউটার</a> |
              <a href="#">অনু</a> |
              <a href="#">Asus</a> |
              <a href="#">300M</a> 
              <span class="has-text-primary is-pulled-right is-uppercase has-text-weight-bold"> . . . </span> 
            </h4>
            <h5 class="subtitle is-5">
              <time datetime="2016-1-1">জুলাই ১৪, ২০২১ / জাহিদ হাসান</time>
            </h5>

            <h2 class="title is-2 mt-3">
              <a href="#">
                Xiaomi MI 4C R4CM 300 Mbps 4 অ্যান্টেনা রাউটার (গ্লোবাল সংস্করণ)
              </a>
            </h2>

            <div class="content">
              Xiaomi MI 4c রাউটার ট্রান্সমিশন রেট 300Mbps শক্তিশালী সংকেতের জন্য 4টি উচ্চ লাভ অ্যান্টেনা সহ, 3x3 MIMO প্রযুক্তি সহ একক-ব্যান্ড (2.4GHz) Wi-Fi 802.11 b/g/n এর জন্য সমর্থন।
              <span class="has-text-primary is-pulled-right is-uppercase has-text-weight-bold"> . . . </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="has-text-centered">
    <a href="#" class="button is-medium is-primary mt-6">
      আরো দেখুন &nbsp;
      <span class="has-text-primary is-pulled-right is-uppercase has-text-weight-bold"> . . . </span>
    </a>
  </div>





</main>
</theme-default>
</template>

<script>
export default {
  name: 'PageHome',
}
</script>
