<template>
<main class="container">
 <div class="columns is-vcentered pt-6">
    <div class="column has-text-right">
      <img src="@/assets/page_not_found.png" alt="404 Image" style="max-width: 500px;">
    </div>
    <div class="column">
      <h1 class="title is-1 mt-2"> Ooops! </h1>
      <h1 class="subtitle is-2"> We can't seem to find the page you are looking for. </h1>
      <h1 class="title is-5 mt-6"> Error code: 404 </h1>
      <h1 class="title is-4"> Here are some helpful links insted </h1>
      <a href="#"> Here are some helpful links insted </a><br/>
      <a href="#"> Here are some helpful links insted </a><br/>
      <a href="#"> Here are some helpful links insted </a><br/>
      <a href="#"> Here are some helpful links insted </a><br/>
      <a href="#"> Here are some helpful links insted </a><br/>
      <a href="#"> Here are some helpful links insted </a><br/>
    </div>
  </div>


  <!-- <meta http-equiv="refresh" content="0; url=/errors/404" /> -->
</main>
</template>

<script>
export default {
  name: 'NotFound',
  // <meta name=”robots” content=”noindex”>
}
</script>