<template>
<div class="wrapper">
  <router-view/>
</div>
</template>

<script>

export default {
  name: 'App',
  components: {
    
  },
  mounted() {
    // console.error("You made a mistake");
  }
}
</script>
